USE [master]
GO
/****** Object:  Database [QLSV4]    Script Date: 27/06/2021 8:54:15 CH ******/
CREATE DATABASE [QLSV4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV4', FILENAME = N'D:\SQL2019\MSSQL15.SQLEXPRESS01\MSSQL\DATA\QLSV4.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV4_log', FILENAME = N'D:\SQL2019\MSSQL15.SQLEXPRESS01\MSSQL\DATA\QLSV4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV4]
GO
/****** Object:  Table [dbo].[ChuyenNganh]    Script Date: 27/06/2021 8:54:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenNganh](
	[Machuyennganh] [varchar](10) NOT NULL,
	[Tenchuyennganh] [nvarchar](50) NULL,
	[Makhoa] [varchar](10) NULL,
 CONSTRAINT [PK_ChuyenNganh] PRIMARY KEY CLUSTERED 
(
	[Machuyennganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemMonHocc]    Script Date: 27/06/2021 8:54:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemMonHocc](
	[MaSV] [varchar](10) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
	[Gioitinh] [nvarchar](50) NULL,
	[Ngaysinh] [nvarchar](50) NULL,
	[MaMH] [varchar](10) NULL,
	[Diem1] [float] NULL,
	[Diem2] [float] NULL,
	[Diemthi] [float] NULL,
	[DiemTK] [float] NULL,
	[Diemchu] [nvarchar](50) NULL,
	[Diemhe4] [float] NULL,
	[Danhgia] [nvarchar](50) NULL,
 CONSTRAINT [PK_DiemMonHocc_1] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemRLL]    Script Date: 27/06/2021 8:54:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemRLL](
	[MadiemRL] [varchar](10) NOT NULL,
	[MaSV] [varchar](10) NULL,
	[Hoten] [nvarchar](50) NULL,
	[Lop] [nvarchar](50) NULL,
	[Hocky] [int] NULL,
	[Namhoc] [int] NULL,
	[Tongdiem] [int] NULL,
	[Xeploai] [nvarchar](50) NULL,
 CONSTRAINT [PK_DiemRLL] PRIMARY KEY CLUSTERED 
(
	[MadiemRL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiemTL]    Script Date: 27/06/2021 8:54:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiemTL](
	[MadiemTL] [varchar](10) NOT NULL,
	[MaSV] [varchar](10) NULL,
	[Namhoc] [int] NULL,
	[DiemTBHe4] [float] NULL,
	[DiemTBHe10] [float] NULL,
	[SoTCTL] [int] NULL,
	[SoTCTLTK] [int] NULL,
 CONSTRAINT [PK_DiemTL] PRIMARY KEY CLUSTERED 
(
	[MadiemTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiangVien]    Script Date: 27/06/2021 8:54:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiangVien](
	[MaGV] [varchar](10) NOT NULL,
	[Anhhoso] [image] NULL,
	[Hoten] [nvarchar](50) NULL,
	[Gioitinh] [nvarchar](50) NULL,
	[Ngaysinh] [date] NULL,
	[SDT] [int] NULL,
	[CMND] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Chuyenmon] [nvarchar](50) NULL,
	[Makhoa] [varchar](10) NULL,
 CONSTRAINT [PK_GiangVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQuaDangKy]    Script Date: 27/06/2021 8:54:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQuaDangKy](
	[Madangky] [varchar](10) NOT NULL,
	[MaSV] [varchar](10) NULL,
	[MalopHP] [varchar](10) NULL,
	[MaMH] [varchar](10) NULL,
 CONSTRAINT [PK_KetQuaDangKy] PRIMARY KEY CLUSTERED 
(
	[Madangky] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 27/06/2021 8:54:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[Makhoa] [varchar](10) NOT NULL,
	[Tenkhoa] [nvarchar](50) NULL,
	[Sotien1TC] [int] NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[Makhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoaHocc]    Script Date: 27/06/2021 8:54:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoaHocc](
	[Makhoahoc] [varchar](10) NOT NULL,
	[Tenkhoahoc] [nvarchar](50) NULL,
	[Trangthai] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhoaHocc_1] PRIMARY KEY CLUSTERED 
(
	[Makhoahoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHocPhan]    Script Date: 27/06/2021 8:54:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHocPhan](
	[MalopHP] [varchar](10) NOT NULL,
	[TenlopHP] [nvarchar](50) NULL,
	[MaMH] [varchar](10) NULL,
	[Namhoc] [int] NULL,
	[Giangvien] [varchar](10) NULL,
	[Thoigian] [nvarchar](50) NULL,
	[Diadiem] [nvarchar](50) NULL,
	[Siso] [int] NULL,
	[Makhoa] [varchar](10) NULL,
 CONSTRAINT [PK_LopHocPhan] PRIMARY KEY CLUSTERED 
(
	[MalopHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lopp]    Script Date: 27/06/2021 8:54:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lopp](
	[Malop] [varchar](10) NOT NULL,
	[Tenlop] [nvarchar](50) NULL,
	[Machuyennganh] [varchar](10) NOT NULL,
	[Makhoahoc] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Lopp] PRIMARY KEY CLUSTERED 
(
	[Malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonHoc]    Script Date: 27/06/2021 8:54:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonHoc](
	[MaMH] [varchar](10) NOT NULL,
	[TenMH] [nvarchar](50) NULL,
	[SoTC] [int] NULL,
	[Hocky] [int] NULL,
	[Machuyennganh] [varchar](10) NULL,
 CONSTRAINT [PK_MonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 27/06/2021 8:54:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhViennn]    Script Date: 27/06/2021 8:54:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhViennn](
	[MaSV] [varchar](10) NOT NULL,
	[Hoten] [nvarchar](50) NULL,
	[Anhhoso] [image] NULL,
	[Ngaysinh] [date] NULL,
	[Gioitinh] [nvarchar](50) NULL,
	[Dantoc] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[CMND] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Hedaotao] [nvarchar](50) NULL,
	[Hotenbo] [nvarchar](50) NULL,
	[Hotenme] [nvarchar](50) NULL,
	[Nghebo] [nvarchar](50) NULL,
	[Ngheme] [nvarchar](50) NULL,
	[Tentinh] [nvarchar](50) NULL,
	[Malop] [varchar](10) NULL,
	[Makhoa] [varchar](10) NULL,
	[Tinhtrang] [nvarchar](50) NULL,
	[NamNhapHoc] [int] NULL,
 CONSTRAINT [PK_SinhViennn] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChuyenNganh]  WITH CHECK ADD  CONSTRAINT [FK_ChuyenNganh_Khoa] FOREIGN KEY([Makhoa])
REFERENCES [dbo].[Khoa] ([Makhoa])
GO
ALTER TABLE [dbo].[ChuyenNganh] CHECK CONSTRAINT [FK_ChuyenNganh_Khoa]
GO
ALTER TABLE [dbo].[DiemMonHocc]  WITH CHECK ADD  CONSTRAINT [FK_DiemMonHocc_SinhViennn] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhViennn] ([MaSV])
GO
ALTER TABLE [dbo].[DiemMonHocc] CHECK CONSTRAINT [FK_DiemMonHocc_SinhViennn]
GO
ALTER TABLE [dbo].[DiemRLL]  WITH CHECK ADD  CONSTRAINT [FK_DiemRLL_SinhViennn] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhViennn] ([MaSV])
GO
ALTER TABLE [dbo].[DiemRLL] CHECK CONSTRAINT [FK_DiemRLL_SinhViennn]
GO
ALTER TABLE [dbo].[DiemTL]  WITH CHECK ADD  CONSTRAINT [FK_DiemTL_SinhViennn] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhViennn] ([MaSV])
GO
ALTER TABLE [dbo].[DiemTL] CHECK CONSTRAINT [FK_DiemTL_SinhViennn]
GO
ALTER TABLE [dbo].[GiangVien]  WITH CHECK ADD  CONSTRAINT [FK_GiangVien_Khoa] FOREIGN KEY([Makhoa])
REFERENCES [dbo].[Khoa] ([Makhoa])
GO
ALTER TABLE [dbo].[GiangVien] CHECK CONSTRAINT [FK_GiangVien_Khoa]
GO
ALTER TABLE [dbo].[KetQuaDangKy]  WITH CHECK ADD  CONSTRAINT [FK_KetQuaDangKy_LopHocPhan] FOREIGN KEY([MalopHP])
REFERENCES [dbo].[LopHocPhan] ([MalopHP])
GO
ALTER TABLE [dbo].[KetQuaDangKy] CHECK CONSTRAINT [FK_KetQuaDangKy_LopHocPhan]
GO
ALTER TABLE [dbo].[KetQuaDangKy]  WITH CHECK ADD  CONSTRAINT [FK_KetQuaDangKy_SinhViennn] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhViennn] ([MaSV])
GO
ALTER TABLE [dbo].[KetQuaDangKy] CHECK CONSTRAINT [FK_KetQuaDangKy_SinhViennn]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_GiangVien] FOREIGN KEY([Giangvien])
REFERENCES [dbo].[GiangVien] ([MaGV])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_GiangVien]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_Khoa] FOREIGN KEY([Makhoa])
REFERENCES [dbo].[Khoa] ([Makhoa])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_Khoa]
GO
ALTER TABLE [dbo].[LopHocPhan]  WITH CHECK ADD  CONSTRAINT [FK_LopHocPhan_MonHoc] FOREIGN KEY([MaMH])
REFERENCES [dbo].[MonHoc] ([MaMH])
GO
ALTER TABLE [dbo].[LopHocPhan] CHECK CONSTRAINT [FK_LopHocPhan_MonHoc]
GO
ALTER TABLE [dbo].[Lopp]  WITH CHECK ADD  CONSTRAINT [FK_Lopp_ChuyenNganh] FOREIGN KEY([Machuyennganh])
REFERENCES [dbo].[ChuyenNganh] ([Machuyennganh])
GO
ALTER TABLE [dbo].[Lopp] CHECK CONSTRAINT [FK_Lopp_ChuyenNganh]
GO
ALTER TABLE [dbo].[Lopp]  WITH CHECK ADD  CONSTRAINT [FK_Lopp_KhoaHocc] FOREIGN KEY([Makhoahoc])
REFERENCES [dbo].[KhoaHocc] ([Makhoahoc])
GO
ALTER TABLE [dbo].[Lopp] CHECK CONSTRAINT [FK_Lopp_KhoaHocc]
GO
ALTER TABLE [dbo].[MonHoc]  WITH CHECK ADD  CONSTRAINT [FK_MonHoc_ChuyenNganh] FOREIGN KEY([Machuyennganh])
REFERENCES [dbo].[ChuyenNganh] ([Machuyennganh])
GO
ALTER TABLE [dbo].[MonHoc] CHECK CONSTRAINT [FK_MonHoc_ChuyenNganh]
GO
/****** Object:  StoredProcedure [dbo].[SinhVien_selectMaLop]    Script Date: 27/06/2021 8:54:15 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create	proc [dbo].[SinhVien_selectMaLop](
@Malop varchar(10)
)
AS
Begin
select MaSV, Hoten, Ngaysinh from SinhViennn where Malop=@Malop
end
GO
USE [master]
GO
